---
import type { User } from "@/types/user";
import { Image } from "astro:assets";

interface Props {
  user: User;
}

const { user } = Astro.props;
---

<div class="chat">
  <div class="avatar">
    <Image
      src={user.image}
      alt="descriptive text"
      width="316"
      height="316"
      decoding="async"
      loading="lazy"
      quality={100}
    />
  </div>

  <div>
    <span class="name">{user.name}</span>
    <span class="title">{user.title}</span>
  </div>
</div>

<style>
  .chat {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
  }

  .chat > .avatar {
    aspect-ratio: 1;
    height: 100%;
  }

  .chat img {
    object-fit: cover;
    border-radius: 100%;
    height: 60px;
    width: 60px;
  }
</style>
